/*
 * Copyright (c) 2020 ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "charybdis_left.dtsi"
/ {                                                                                                                  
    chosen {                                                                                                         
        zephyr,display = &gc9a01a;                                                                                   
    };                                                                                                               
};                                                                                                                 
// SPI 控制器                                                                                                    
    &spi1 {                                                                                                          
        status = "okay";                                                                                             
        pinctrl-0 = <&spi1_default>;                                                                                 
        pinctrl-1 = <&spi1_sleep>;                                                                                   
        pinctrl-names = "default", "sleep";                                                                          
                                                                                                                        
        gc9a01a: gc9a01a@0 {                                                                                         
            compatible = "gc9a01a";                                                                                  
            reg = <0>;                                                                                               
            spi-max-frequency = <15000000>;                                                                          
            spi-cpol;                                                                                                
            spi-cpha;                                                                                                
            dc-gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;                                                                 
            rst-gpios = <&gpio0 21 GPIO_ACTIVE_HIGH>;                                                                
            status = "okay";                                                                                         
    };                                                                                                           
};                                                                                                               
   

// {
//	chosen {
//		zephyr,display = &oled;
//	};
//};

// I2C for OLED on nice!nano
//&pro_micro_i2c {
//    status = "okay";
//	oled: ssd1306@3c {
//		compatible = "solomon,ssd1306fb";
//		reg = <0x3c>;
//		width = <128>;
//		height = <64>;
//		segment-offset = <0>;
//		page-offset = <0>;
//		display-offset = <0>;
//		multiplex-ratio = <63>;
//		prechargep = <0x22>;
//		// vertical mirror
//		com-invdir;
//		// horizontal mirror
//		segment-remap;
//		// inversion-on;
//        label = "oled";
//	};
//};

&kscan0 {
	col-gpios
		= <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&gpio0 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&gpio1 0  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&gpio1 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		;
};

